In [2]:
import pandas as pd
import numpy as np

In [3]:
# np.set_printoptions(precision=2)
pd.set_option('display.precision', 2) # Ограничить числа до 2 знаков после запятой

In [4]:
data = pd.read_csv('../../data/beauty.csv', sep=';')  # Добавим разделитель

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

    wage  exper  union  goodhlth  black  female  married  service  educ  looks
0   5.73     30      0         1      0       1        1        1    14      4
1   4.28     28      0         1      0       1        1        0    12      3
2   7.96     35      0         1      0       1        0        0    10      4
3  11.57     38      0         1      0       0        1        1    16      3
4  11.42     27      0         1      0       0        1        0    16      3

In [7]:
data.shape  # Размероность данных, 1260 объектов и 10 признаков

(1260, 10)

In [8]:
data.info()  # Краткая статистка данных + проверка на пропуски

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   wage      1260 non-null   float64
 1   exper     1260 non-null   int64
 2   union     1260 non-null   int64
 3   goodhlth  1260 non-null   int64
 4   black     1260 non-null   int64
 5   female    1260 non-null   int64
 6   married   1260 non-null   int64
 7   service   1260 non-null   int64
 8   educ      1260 non-null   int64
 9   looks     1260 non-null   int64
dtypes: float64(1), int64(9)
memory usage: 98.6 KB

In [9]:
data.describe()  # Статистка данных: число не пропущенных значений, среднее, санд. откл, минимальное, квартили (3 точки, которые делят данные на 4 части), максимальное значение

,wage,exper,union,goodhlth,black,female,married,service,educ,looks
count,1260.00,1260.00,1260.00,1260.00,1260.00,1260.00,1260.00,1260.00,1260.00,1260.00
mean,6.31,18.21,0.27,0.93,0.07,0.35,0.69,0.27,12.56,3.19
std,4.66,11.96,0.45,0.25,0.26,0.48,0.46,0.45,2.62,0.68
min,1.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.00,1.00
25%,3.71,8.00,0.00,1.00,0.00,0.00,0.00,0.00,12.00,3.00
50%,5.30,15.00,0.00,1.00,0.00,0.00,1.00,0.00,12.00,3.00
75%,7.70,27.00,1.00,1.00,0.00,1.00,1.00,1.00,13.00,4.00
max,77.72,48.00,1.00,1.00,1.00,1.00,1.00,1.00,17.00,5.00

In [10]:
data['exper']  # Series

0       30
1       28
2       35
3       38
4       27
        ..
1255    25
1256     4
1257    35
1258    15
1259    24
Name: exper, Length: 1260, dtype: int64

## loc и iloc

In [11]:
data.loc[0:5, ['wage', 'female']]  # Первые 5 строк

    wage  female
0   5.73       1
1   4.28       1
2   7.96       1
3  11.57       0
4  11.42       0
5   3.91       1

In [12]:
data.iloc[:, 2:4]

      union  goodhlth
0         0         1
1         0         1
2         0         1
3         0         1
4         0         1
...     ...       ...
1255      0         1
1256      0         1
1257      0         1
1258      0         1
1259      0         0

[1260 rows x 2 columns]

In [13]:
data['female'] == 1  # Женщины - True

0        True
1        True
2        True
3       False
4       False
        ...
1255     True
1256     True
1257     True
1258     True
1259     True
Name: female, Length: 1260, dtype: bool

In [14]:
data[data['female'] == 1]  # Только женщины

,wage,exper,union,goodhlth,black,female,married,service,educ,looks
0,5.73,30,0,1,0,1,1,1,14,4
1,4.28,28,0,1,0,1,1,0,12,3
2,7.96,35,0,1,0,1,0,0,10,4
5,3.91,20,0,0,0,1,1,0,12,3
8,5.00,5,0,1,0,1,0,0,16,3
...,...,...,...,...,...,...,...,...,...,...
1255,1.61,25,0,1,1,1,0,1,12,3
1256,1.68,4,0,1,0,1,1,1,12,2
1257,3.29,35,0,1,1,1,0,1,12,3
1258,2.31,15,0,1,1,1,1,1,10,3
1259,1.92,24,0,0,0,1,0,1,16,3

In [15]:
data[data['female'] == 1]['wage']  # Доход женщин

0       5.73
1       4.28
2       7.96
5       3.91
8       5.00
        ...
1255    1.61
1256    1.68
1257    3.29
1258    2.31
1259    1.92
Name: wage, Length: 436, dtype: float64

In [16]:
data[data['female'] == 1]['wage'].mean()  # Средний доход женщин

4.299357798165137

In [17]:
# Медианный доход женатого мужчины
data[(data['female'] == 0) & (data['married'] == 1)]['wage'].median(), \
data[(data['female'] == 0) & (data['married'] == 0)]['wage'].median() # Медианный доход НЕ женатого мужчины

(6.710000000000001, 5.0649999999999995)

In [18]:
for look, sub_df in data.groupby('looks'):
    print(look)

    print(sub_df['female'].mean())

1
0.38461538461538464
2
0.38028169014084506
3
0.32271468144044324
4
0.37362637362637363
5
0.42105263157894735

In [19]:
data.groupby('looks')[['wage', 'exper']].agg(np.median)  # Медианный доход и опыт работы в зависимости от параметра looks

       wage  exper
looks
1      3.46   32.0
2      4.60   18.0
3      5.63   18.0
4      5.24   12.5
5      4.81    8.0

In [20]:
data.groupby('looks')[['wage', 'exper']].median() # Медианный доход и опыт работы в зависимости от параметра looks

       wage  exper
looks
1      3.46   32.0
2      4.60   18.0
3      5.63   18.0
4      5.24   12.5
5      4.81    8.0

In [21]:
pd.crosstab(data['female'], data['married'])  # Сводная таблица женат/не женат (658 - женатые мужчины)

married    0    1
female
0        166  658
1        223  213

In [22]:
pd.crosstab(data['female'], data['looks'])  # Сводная таблица для пола и рейтинга привлекательности

looks   1   2    3    4   5
female
0       8  88  489  228  11
1       5  54  233  136   8

In [23]:
data['wage'].describe()  # Описание доходов. Примерное 75% людей получают меньше, чем 7.7 долларов в час

count    1260.00
mean        6.31
std         4.66
min         1.02
25%         3.71
50%         5.30
75%         7.70
max        77.72
Name: wage, dtype: float64

In [24]:
data['is_rich'] = data['wage'] > data['wage'].quantile(0.75)  # Создаём колонку, где будет указано True, если заработок выше 0,75 квартиля

In [25]:
data['wage'] > data['wage'].quantile(0.75)

0       False
1       False
2        True
3        True
4        True
        ...
1255    False
1256    False
1257    False
1258    False
1259    False
Name: wage, Length: 1260, dtype: bool

In [26]:
(data['wage'] > data['wage'].quantile(0.75)).astype('int64')  # Перевод True, False в 0 и 1

0       0
1       0
2       1
3       1
4       1
       ..
1255    0
1256    0
1257    0
1258    0
1259    0
Name: wage, Length: 1260, dtype: int64

In [27]:
data['female'].apply(lambda female: 'female' if female else 'male')  # Пример создания нового признака

0       female
1       female
2       female
3         male
4         male
         ...
1255    female
1256    female
1257    female
1258    female
1259    female
Name: female, Length: 1260, dtype: object

In [28]:
data.head()

,wage,exper,union,goodhlth,black,female,married,service,educ,looks,is_rich
0,5.73,30,0,1,0,1,1,1,14,4,False
1,4.28,28,0,1,0,1,1,0,12,3,False
2,7.96,35,0,1,0,1,0,0,10,4,True
3,11.57,38,0,1,0,0,1,1,16,3,True
4,11.42,27,0,1,0,0,1,0,16,3,True